.Home {
  background: url(map.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home .description {
  height: 50px;
  width: 500px;
}

.Home img {
  height: 45px;
  width: 200px;
  padding: 20px;
}
